<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Email</title>
</head>
<body>
    <h1>Teste de envio de email para {{ email }}</h1>
    <p>Se você recebeu este email, o serviço de email está funcionando corretamente!</p>
</body>
</html>